body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #F6F7F8;
}

.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
}

.side-menu {
    height: 100vh;
    width: 30vw;
    background-color: #011627;
    box-sizing: border-box;
}

.main {
    width: 70vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F7F8;
}

.red {
    color: #FF3366;
}

.green {
    color: #2EC4B6;
}

.my-input {
    width: 50vw;
    height: 44px;
    border-radius: 22px;
    border: 1px solid #FF3366;
    text-indent: 1em;
    font-size: 1em;
    margin: 5vh;
    background: #F6F7F8;
}

.my-input::-webkit-input-placeholder {
    color: #2EC4B6;
}

.my-input:focus {
    background-color: #011627;
    outline: none;
    border: 1px solid coral;
    box-shadow: 0 0 5px coral;
    color: #F6F7F8;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.to-do {
    width: 70vw;
    height: 40vh;
    background-color: #2EC4B6;
    overflow-y: scroll;
    word-wrap: normal;
    overflow-x: hidden;
}

.done {
    width: 70vw;
    height: 40vh;
    background-color: #FF3366;
}

.do-title {
    color: #FF3366;
}

.done-title {
    color: #2EC4B6;
}

.to-do-ex {
    background-color: #FF3366;
}

.done-ex {
    background-color: #2EC4B6;
}

.to-do-list, .done-list {
    list-style: none;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

.to-do-list > li, .done-list > li {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.trash {
    background-color: white;
    height: 10vh;
}